<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Kaidens Caravans</title>
  </head>
  <body>
    
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            <h4>Kaidens Caravans</h4>
            <h5>Server side rendering website will be here</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    {% style "/css/bare.css" %}
  </body>
</html>




