<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manager</title>
</head>
<body>

<div id="app">
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card-block">
                <h4>Welcome to kaidens-caravans</h4>
                <h5>Please wait while the application loads</h5>
            </div>
        </div>
    </div>
</div>

<!-- scripts and styles -->
{% style "/css/bare.css" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
    var csrfToken = "{{csrf-token}}";
</script>
{% script "/js/app.js" %}
</body>
</html>




