.lift-card {
    transition: .3s;
}

.lift-card:hover {
    margin-top: -2em;
    transition: .5s;
}

h1, h2, h3, h4 {
    font-weight: 100;
}

.img-fluid {
    width: 150% !important;
    height: 150% !important;
}
