.lift-card {
    transition: .3s;
}

.lift-card:hover {
    margin-top: -2em;
    transition: .5s;
}

.img-fluid {
    width: 150% !important;
    height: 150% !important;
}

.carousel-caption {
    text-shadow: 1px 1px 1px black;
}
